/*
Author: Shannon Bennett
Date: May 22, 2023
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, h2, h3, h4, grid, tile-grid, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #507963;
}

img {
	max-width: 100%;
	display: block;
}

*{
	box-sizing: border-box;
}

/*Style rules for mobile viewport*/

/*Style rules for header*/
header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #507963;
	height: 215px;
}

header img {
	margin: 0 auto;
	height: 240px;
}

/*Style rules for navigation area*/
nav {
	padding: 1%;
	margin-bottom: 1%;
	background-color: #fff;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
	border-top: 1px solid #000;	
}

nav li:first-child {
	border-top: none;
}

nav li a {
	display: block;
	color: #507963;
	padding: 0.5em 1em;
	text-decoration: none;
}

/*Show mobile class, hide tablet-desktop class*/
.mobile {
	display: block;
	text-align: center;
}

.tablet-desktop {
	display: none;
	text-align: center;
}

/*Style rules for main content*/
main {
	background-color: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Bree Serif', serif;
}

.grid-container {
	grid-template-columns: auto;
}

.grid {
	display: none;
}
.about-copy {
	display: none;
}

.emphasis {
	display: block;
	text-align: center;
	font-size: 1.5em;
	color: #507963;
}

.specialties {
	display: block;
	text-align: center;
	color: #507963;
}

h1, h2, h4 {
	color: #507963;
	text-align: center;
}

h3 {
	color: #000;
	text-align: center;
}


.round {
	border-radius: 8px;
}

#contact {
	text-align: center;
	color: #000;
	text-decoration: none;
}

#contact .tel-link {
	color: #507963;
	text-decoration: none;
}

#contact .contact-email-link {
	color: #507963f;
	text-decoration: none;
}
.action {
	color: #000;
}

.map {
	border: 2px solid #000;
	width: 95%;
	height: 50%;
}

/*Style rules for footer content*/
footer p {
	font-size: 0.75em;
	text-align: center;
	color: #000;
	padding: 0 1em;
}

footer p a {
	color: #000;
	text-decoration: none;
}

/*Media Query for Tablet viewport*/
@media screen and (min-width: 630px), print {
	

	/*Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}
	

	.mobile {
		display:none;
	}

	/*Tablet Viewport: Style rule for header */
	header {	
		position: static;
		padding-bottom: 2%;
	}

	/*Tablet Viewport: Style rules for nav area */

		nav li {
		border-top: none;
		display: inline-block;
		border-right: none;
	}
		nav li a {
		padding: 0.1em 0.75em;
	}

	/*Tablet Viewport: style rules for main content area */
	main ul {
		margin: 0 0 4% 10%;
	}

	.tel-num {
		font-size: 1.25em;
	}

	.map {
		width: 600px;
		height: 450px;
	}

	.grid {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 20px;
		place-items: center;
	}
	.grid-container {
		display: none;
	}
	.about-copy {
		display: block;
		padding: 0 10%;
	}
	
	.tile-grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
		place-items: center;
		padding-top: 20px;
		padding-bottom: 30px;
	}
	
}

/*Media Query for Desktop viewport*/
@media screen and (min-width: 1015px), print {
	
	/*Desktop Viewport: Style rule for header */
	header {
		width: 25%;
		float: left;
		padding-bottom: 0;
	}
	
	
	/*Desktop Viewport: Style rules for nav area*/
	nav {
		float: right;
		width: 70%;
		margin: 4em 1em 0 0;
		background-color: #507963;
	}

	nav ul {
		
		text-align: center;
	}

	nav li {
		font-size: 1.7em;
		border: none;
	}

	nav li:nth-child(4) {
		border-right: none;
	}
	
	nav li a {
		color: #000;
		text-align: center;
		padding: 0.5em 1em;
	}
	
	/*Desktop Viewport: Style Rules for main content*/
	main {
		clear: left;
		font-size: 2em;
	}
	
	.price-text {
		font-size: .75em;
	}
	
	
	
	.map {
		border: 8px solid #000;
	{
}

/*Media Query for Large Desktop Viewports*/
@media screen and (min-width: 1921px) {
	
	#container {
		width: 1920px;
		margin: 0 auto;
	}
	
}

/*Media Query for Print */
@media print {
	
	body {
		background-color: #fff;
		color: #000;
	}
	
	
	
}